<%- include("./partials/header") %>

<h1 class="category-title">Service Categories</h1>

<h2 class="detailh2">Service Projects</h2>

<ul class="cati-ul">
    <% projects.forEach(project => { %>
        <li>
            <a href="/project/<%= project.project_id %>">
                <%= project.title %>
            </a>
        </li>
    <% }) %>
</ul>

<%- include("./partials/footer") %>