<%- include("./partials/header") %>

<h1 class="category-title">Service Categories</h1>

<ul class="cati-ul">
    <% categories.forEach(category => { %>
        <li>
            <a href="/categories/<%= category.category_id %>">
                <%= category.name %>
            </a>
        </li>
    <% }) %>
</ul>
<dev class="addcat">
    <li><a href="/new-category"> Add New Category</a></li>
</dev>
<%- include("./partials/footer") %>